header {
    background: #FB9500;
}

h1 {
    color: #0f5149;
}

h2, h3, h4, h5 {
    color: #3E3E3E;
}

.dashboard .info-header {
    border-bottom: 6px solid #3E3E3E;
}

.dashboard .info-header i {
    color: #3E3E3E;
}

.tag {
    background: #0f5149;
}

.dashboard .action-section ul {
    background: #0f5149;
}

a {
    color: #323372;
}

a.queue-entry-link {
    color: #0077FF;
    text-decoration: underline;
}
a:hover.queue-entry-link {
    color: #5B5C8E;
}

/* Border/shadow on search box */
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #0f5149;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(15 81 73 / 25%);
}

/* PIH Purple 80% Tint */
a:hover {
    color: #5B5C8E;
}

/* Locations on login page */
ul.select li.selected {
    background-color: #F6BE00;
    color: #3E3E3F;
    font-weight: bolder;
    border-color: transparent;
}

ul.select li:hover {
    background-color: #F6BE00;
    color: #3E3E3E;
    cursor: pointer;
}

ul.select li {
    color: #0f5149;
}

.new-patient-header .identifiers span.add-id a,
.patient-header .identifiers span.add-id a:link,
.patient-header .identifiers span.add-id a:visited {
    color: #3AB4B1;
}

/* Action buttons:  PIH Purple */
.button.task, button.task, a.button.task {
    background: #323372;
    border: #323372 1px solid;
}

/* Action buttons:  50% tint of PIH Purple */
.button.task:hover, button.task:hover, a.button.task:hover {
    background-color: #9999B9;
    border: #9999B9 1px solid;
}

/* Login, submit buttons */
.button.confirm,
button.confirm,
input[type="submit"].confirm,
input[type="button"].confirm,
a.button.confirm {
    background: #0F5149;
    border-color: #0f5149;
    color: white;
}

/* Login, submit buttons (hover with 50% tint */
.button.confirm:hover,
button.confirm:hover,
input[type="submit"].confirm:hover,
input[type="button"].confirm:hover,
a.button.confirm:hover {
    background: #3F746D;
    border-color: #3F746D;
}

/* Login, submit buttons (disabled should stay grey on hover) */
.button.confirm:hover:disabled,
button.confirm:hover:disabled,
input[type="submit"].confirm:hover:disabled,
input[type="button"].confirm:hover:disabled,
a.button.confirm:hover:disabled {
    background: #EEE;
    border: #CCC 1px solid;
    color: #CCC;
    cursor: default;
}

.button, button,
input[type="submit"], input[type="button"],
a.button {
    color: #3E3E3E;
}

header a,
header a:visited,
header a:hover,
header a:link {
    background: #FB9500;
}

.dashboard:hover .visit-link:hover {
    color: #3F746D;
}

.navigation {
    color: #EEEEEE;
}

header .user-options li.change-location {
    border: 1px solid #FB9500;
}

header .user-options li.change-location:hover,
header .user-options li.change-location .focus {
    background: #FB9500;
}

form input:focus, form select:focus,
form textarea:focus, form ul.select:focus,
.form input:focus, .form select:focus,
.form textarea:focus, .form ul.select:focus,
dialog input:focus, dialog select:focus,
dialog textarea:focus, dialog ul.select:focus,
.dialog input:focus, .dialog select:focus,
.dialog textarea:focus, .dialog ul.select:focus,
.ui-autocomplete-input form input:focus {
    outline: 2px solid #0f5149;
    background: #CFDCDB;
}

form textarea:focus {
    outline: 2px solid #0f5149;
    background: #CFDCDB;
}

.dialog input:focus {
    outline: 2px solid #0f5149;
    background: #CFDCDB;
}

.simple-form-ui section fieldset input:focus,
simple-form-ui section fieldset input:focus {
    outline: 2px solid #0f5149;
    background: #CFDCDB;
}

/* Header on popups */
.dialog .dialog-header,
.dialog-diagnoses .dialog-header,
.ngdialog.ngdialog-theme-default .ngdialog-content .dialog-header {
    background: #FB9500;
    color: white;
    padding: 0 20px;
    padding-top: 5px;
    border-bottom: #FB9500 1px solid;
}

.diagnosis.primary,
#display-encounter-diagnoses-container li .diagnosis.primary {
    border-left: 8px #3AB4B1 solid;
}

/* Vitals and left tabs for simple form */
ul#formBreadcrumb li.doing {
    border-left: 5px solid #0f5149;
}

#save-form {
    color: #0f5149;
}

.simple-form-ui section fieldset select:focus,
.simple-form-ui section fieldset input:focus,
.simple-form-ui form section fieldset select:focus {
    outline: 2px solid #0f5149;
}

.simple-form-ui #occupationLabel select {
    max-height: 400px;
}

form select:focus,
form input:focus {
    background: #CFDCDB;
}

form input[type="radio"], .form input[type="radio"] {
    float: none;
    display: inline-block;
}

/* Vitals replace blue highlight */
ul#formBreadcrumb li.doing ul li.focused {
    color: #FFF;
    background-color: #0f5149;
}

[class^="contact-hiv-phone-"]{
    padding-bottom: 20px !important;
}


/* SL-specific config to make sure that the header navbar is tall enough to include the custom SL logo */
.navbar {
    min-height: 4.2em;
}

    #data-collection {
        display: inline-block;
        width: 58%;
        vertical-align: top;
    }

    #encounter-diagnoses-target {
        display: inline-block;
        width: 40%;
        vertical-align: top;
    }

    #encounter-diagnoses-app {
        margin-bottom: 20px;
    }

    .field-error {
        color: #ff6666;
        font-size: 1.1em;
        display: block;
    }
